
html, body {
  margin:0;
  padding:0;
  height:100%;
}

 body{
    background-color:white    ;
    
  }  
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
/*header {
    
    background-color: white;
    padding: 0;
    margin: 0px;
    align-content: center;
    display: flex;
    border-bottom: 2px solid rgb(21, 20, 20);
    
    
}
header .text_b{
  background-color: rgb(28, 240, 169);
  display: flex  ;
  
  
}

header .logo  {
       
  align-content: center;
  margin-left: 300px;
  
}
header .logo img{
padding-top: 10px;
    width: 70px;
       
}
header nav {
    display: flex;
    align-content: space-around;
    font-family: 'Roboto', sans-serif;
    
    
    
}
header nav ul {
    
  display: flex;

}
header nav ul li{
    padding-left: 50px;
    padding-top: 15px;
    text-decoration: none;
    list-style: none;
    
    
   
}
header nav ul li a{
   text-decoration: none;
   color: black;
    
}*/
.ofertas{
  position:sticky;
  opacity: 80%;
  border-radius: 200px;
  margin: 1px;
  background-color: black;
}
h1{
  
  color: white;
  margin: 2px;
  padding: 12px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}



.footer {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid black;
  
}

.footer a{

  color:black;
  list-style: none;
  text-decoration: none;
  margin: auto;
}
